#contenedor {
    width: 85%;
    margin:0 auto;
    font-family: "Comic Sans MS", cursive;
}
#cabecera {
    background-color: #58D3F7;
    color:#FFF;
    text-align: center;
}
#menu {
    float: left;
    width: 15%;
    text-align:center;
}

a:link, a:visited { 
    text-decoration: none 
}
a:hover { 
    text-decoration: underline 
}

#contenido {    
    padding: 20px;
    float: left;
    width: 80%;
}

#contenido2 {    
    clear: both;
}

#buscar {
    float: right;
    margin-bottom: 1em;
}
#libros{
    clear:both;
}


.ui-widget-header {
    background-color: #58D3F7;
    color: #FFF;
    text-shadow: 1px 1px #000;
}

#pie {
    clear: both;
    background-color: #58D3F7;
    text-align:center;
    color:#FFF;
}
#contenidoLogin{
    margin: 0 auto;
    width: 40%;
    background-color: #58D3F7;
    color:#FFF;
    text-align: center;
}