<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:p="http://primefaces.org/ui">
    <h:head>
        <title>
            <ui:insert name="titulo"/>
        </title>
        <h:outputStylesheet library="css" name="Style.css"/>
    </h:head>
    <h:body>
        <div id="contenedor">
            <div id="encabezado" >
                <ui:insert name="encabezado">
                    <ui:include src="../secciones/principal/header.xhtml"/>
                </ui:insert>
            </div>
            <div id="contenido2">
                <ui:insert name="contenido2"/>
            </div>
            <div id="pie">
                <ui:insert name="sur">
                    <ui:include src="../secciones/principal/abajo.xhtml"/>
                </ui:insert>
            </div>
        </div>
    </h:body>
</html>