<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets">
    <h:head>
        <title>
            Libro 8
            <ui:insert name="titulo"/>
        </title>
        <h:outputStylesheet library="css" name="Style.css"/>
    </h:head>
    <h:body>
        <div id="encabezado" >
            <ui:insert name="encabezado">
                <ui:include src="../secciones/login/header.xhtml"/>
            </ui:insert>
        </div>
        <div id="lado">
            <ui:insert name="lado">
                <ui:include src="../secciones/login/ladoIzquierdo.xhtml"/>
            </ui:insert>
        </div>
        <div id="contenido" align="center">
            <ui:insert name="contenido"/>
        </div>
        <div id="pie" align="center">
            <ui:insert name="pie"/>
        </div>
    </h:body>
</html>