<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

  

        <h:head>
        <title>Index - Ignorado</title>
        <h:outputStylesheet library="css" name="Style.css"/>
    </h:head>
    <h:body>
        <ui:composition template="templates/master.xhtml">
            <ui:define name="titulo">
                #{msj.Titulo}
            </ui:define>
            <ui:define name="encabezado">
                <ui:include src="secciones/login/header.xhtml"/>
            </ui:define>
            <ui:define name="lado">
                
            </ui:define>
            <ui:define name="contenido2">
                <p:tabView>
                    <p:tab title="Registrar">
                        <p:panel header="Alta">
                            <h:form>
                                <p:growl autoUpdate="true" class="ui-growl"/>
                                <h:outputLink id="liga" value="javascript:void(0)" onclick="PF('registrar').show()">

                                    <p:outputLabel value="dar de alta  un libro"/>


                                </h:outputLink>
                                <h:outputLink value="javascript:void(0)" onclick="PF('altacategoria').show()">

                                    <p:outputLabel value="dar una Categoria"/>


                                </h:outputLink>

                                <p:dialog id="registrar" widgetVar="registrar"  header="Introduzca los datos"  focus="forma:isbn">
                                    <h:form id="forma" >


                                        <p:panel header="introduzca los datos del Libro" footer="#{libreria.hoy}" style="color:lightsteelblue">
                                            <!--<p:messages autoUpdate="true" globalOnly="true"/>-->
                                            <p:messages id="msj" severity="error" styleClass="msjError"/>
                                            <h:panelGrid columns="2">
                                                ISBN:&nbsp;
                                                <p:inputText id="isbn" label="isbn" required="true" value="#{libreria.isbn}">
                                                    <p:tooltip for="isbn" value="introduzca numero de 13 digitos"/>
                                                </p:inputText>

                                                Titulo:&nbsp;
                                                <p:inputText id="titulo" label="titulo" required="true" value="#{libreria.titulo}">
                                                    <p:tooltip for="titulo" value="introduzca nombre del libro"/>
                                                </p:inputText>

                                                Existencia:&nbsp;
                                                <p:inputText id="exis" value="#{libreria.existencias}" validatorMessage="debe ser mayor  a 1 y menor de 10000">
                                                    <p:tooltip for="exis" value="Introduzca existencia"/>
                                                    <f:validateDoubleRange minimum="1" maximum="1000"/>
                                                    <p:clientValidator event="blur" />
                                                    <p:message for="exis" styleClass="msjError"/>
                                                </p:inputText>
                                                Precio:&nbsp;
                                                <p:inputText id="precio" value="#{libreria.precio}" validatorMessage="debe ser mayor  a 300 y menor de 10000">
                                                    <p:tooltip for="precio" value="Introduzca la precio inicial de inscripcion"/>                        
                                                    <p:clientValidator event="blur" />
                                                    <p:message for="precio" styleClass="msjError"/>
                                                </p:inputText>
                                                Descripcion:&nbsp;
                                                <p:inputText id="desc" label="desc" required="true" value="#{libreria.descripcion}" requiredMessage="ingresa descripcion">

                                                    <p:tooltip for="desc" value="introduzca descripcion del libro"/>
                                                    <f:validateLength  minimum="1" maximum="200"/>
                                                </p:inputText>
                                                id_categoria:&nbsp;

                                                <p:selectOneMenu id="advanced" value="#{libreria.idCategoria}">
                                                    <f:selectItems value="#{libreria.categoriaList}" var="cat"  itemValue="#{cat.idCategoria}" itemLabel="#{cat.nombre}"/> 
                                                </p:selectOneMenu>
                                            </h:panelGrid>
                                            <p:commandButton id="btn" value="Entrar" action="#{libreria.altaLibro()}" ajax="false" />
                                            <p:commandButton value="Cancelar" onclick="PF('registrar').hide()"/>
                                        </p:panel>

                                    </h:form>
                                </p:dialog>

                                
                                

                            </h:form>
                        </p:panel>
                    </p:tab>
                </p:tabView>
              </ui:define>
            
            <ui:define name="sur">
                <ui:include src="secciones/login/abajo.xhtml"/>
            </ui:define>
            
        </ui:composition>

    </h:body>
</html>

