<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
    <h:head>
        <title>Facelet Title</title>
    </h:head>
    <h:body>
       <h:form>
                                        <p:panel header="Autores" footer="#{libreria.hoy}" style="color: darkorange" >
                                            <p:messages  severity="error" styleClass="msjError"/>
                                            <h:panelGrid columns="2">                                               
                                                Id:_autor:&nbsp;

                                                <p:selectOneMenu id="advanced" value="#{libreria.idAutor}">
                                                    <f:selectItems value="#{libreria.autorList}" var="al"  itemValue="#{al.idAutor}" itemLabel="#{al.idAutor}"/> 
                                                </p:selectOneMenu>
                                                 Id:_Libro:&nbsp;
                                                 <h:inputText  value="#{libreria.isbn}"/>
                                                 
                                            </h:panelGrid>
                                            <p:commandButton id="btn" value="Entrar" action="#{libreria.altaAutorLibro()}" ajax="false" />
                                            <p:commandButton value="Cancelar" onclick="PF('altacategoria').hide()"/>
                                        </p:panel>
       </h:form>
    </h:body>
</html>

