<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:c="http://xmlns.jcp.org/jsp/jstl/core"
      xmlns:fn="http://java.sun.com/jsp/jstl/functions">
    <h:head>
        <title>Index - Ignorado</title>
        <h:outputStylesheet library="css" name="Style.css"/>
    </h:head>
    <h:body>
        <ui:composition template="templates/master.xhtml">
            <ui:define name="titulo">
                #{msj.Titulo}
            </ui:define>
            <ui:define name="encabezado">
                <ui:include src="secciones/login/header.xhtml"/>
            </ui:define>
            <div id="menu">
                <ui:define name="menu">
                    <h:form>
                        <p:panel>
                            <c:forEach items="#{libreria.categoriaList}" var="cat">
                                <h:commandLink action="#{libreria.filtracat(cat.idCategoria)}">#{cat.nombre}</h:commandLink><br/>
                            </c:forEach>                                        
                        </p:panel>
                    </h:form>
                </ui:define>
            </div>
            <ui:define name="contenido2">
                <div id="menu">
                    <h:form>
                        <p><p:commandButton action="catalogo" value="Seguir Comprando" /></p>
                        <p><p:commandButton action="loginPago" value="Pagar" /></p>
                    </h:form>
                </div>
                <div id="contenido">

                    <div id="libros">
                        <h:form>
                            <center>
                                <h:panelGrid columns="2">

                                    <p:panel style="border: 0">
                                        <h:panelGrid columns="2" style="width:100%" cellpadding="5" columnClasses="label,value">
                                            <f:facet name="header">
                                                <p:graphicImage library="img/portadas" name="#{libreria.libro.isbn}.jpg" width="100px"/>
                                            </f:facet>
                                            <h:outputText value="Nombre:" />
                                            <h:outputText value="#{libreria.libro.titulo}" />
                                            <h:outputText value="Existencias:" />
                                            <h:outputText value="#{libreria.libro.existencias}" />
                                            <h:outputText value="Precio:" />
                                            <h:outputText value="#{libreria.libro.precio}" />
                                            <h:outputText value="Descripcion:" />
                                            <h:outputText value="#{libreria.libro.descripcion}" />
                                            <h:outputText value="Cantidad:" />
                                            <p:spinner value="#{libreria.cantidad}" />
                                        </h:panelGrid>
                                        <p:commandButton action="#{carrito.agregar(libreria.libro, libreria.cantidad)}" ajax="false" value="Agregar a Carrito"/>
                                    </p:panel>
                                </h:panelGrid>

                            </center>  

                        </h:form>
                    </div>

                    <center>
                        <h2>Libros Seleccionados</h2>
                    </center>

                    <p:dataTable value="#{carrito.carro}"   var="busca" paginator="true">
                        <p:column>
                            <f:facet name="header">
                                Isbn
                            </f:facet>
                            <h:inputText value="#{busca.libro.isbn}"/>
                        </p:column>
                        <p:column>
                            <f:facet name="header">
                                Titulo
                            </f:facet>
                            <h:inputText value="#{busca.libro.titulo}"/>
                        </p:column>
                        <p:column>
                            <f:facet name="header">
                                Precio
                            </f:facet>
                            <p:inputText value="#{busca.libro.precio}"/>
                        </p:column>
                        <p:column>
                            <f:facet name="header">
                                Descripcion
                            </f:facet>
                            <p:inputText value="#{busca.libro.descripcion}"/>
                        </p:column>
                        <p:column>
                            <f:facet name="header">
                                Cantidad
                            </f:facet>
                            <p:inputText value="#{busca.cantidad}"/>
                        </p:column>
                    </p:dataTable>

                </div>
            </ui:define>
            <ui:define name="sur">
                <ui:include src="secciones/login/abajo.xhtml"/>
            </ui:define>

        </ui:composition>


    </h:body>
</html>