<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:c="http://xmlns.jcp.org/jsp/jstl/core"
      xmlns:fn="http://java.sun.com/jsp/jstl/functions">
    <h:head>
        <title>Index - Ignorado</title>
        <h:outputStylesheet library="css" name="Style.css"/>
    </h:head>
    <h:body>
        <ui:composition template="templates/master.xhtml">
            <ui:define name="titulo">
                #{msj.Titulo}
            </ui:define>
            <ui:define name="encabezado">
                <ui:include src="secciones/login/header.xhtml"/>
            </ui:define>
            <div id="menu">
                <ui:define name="menu">
                    <h:form>
                        <p:panel>
                            <c:forEach items="#{libreria.categoriaList}" var="cat">
                                <h:commandLink action="#{libreria.filtracat(cat.idCategoria)}">#{cat.nombre}</h:commandLink><br/>
                            </c:forEach>                                        
                        </p:panel>
                    </h:form>
                </ui:define>
            </div>
            <ui:define name="contenido2">
                <div id="menu">
                    <h:form>
                        <p:panel style="border: 0; background-color: #58D3F7; font-family: 'Comic Sans MS', cursive;">
                            <h2 style="color: #FFF;">Categorias</h2>
                            <c:forEach items="#{libreria.categoriaList}" var="cat">
                                <h:commandLink style="color: #FFF;" action="#{libreria.filtracat(cat.idCategoria)}">#{cat.nombre}</h:commandLink><br/>
                            </c:forEach>                                        
                        </p:panel>
                    </h:form>
                </div>
                <div id="contenido">
                    <h1>Catalogo</h1>
                    <div id="buscar">
                        <h:form>

                            <p:selectOneRadio value="#{libreria.opciones}">
                                <f:selectItem itemValue="titulo" itemLabel="TITULO" />
                                <f:selectItem itemValue="tema" itemLabel="TEMA" />
                                <f:selectItem itemValue="autor" itemLabel="AUTOR" />
                                <f:selectItem itemValue="ISBN" itemLabel="ISBN" />
                            </p:selectOneRadio> 
                            <p:inputText value="#{libreria.busqueda}" ></p:inputText>
                            <h:commandButton value="Buscar" action="#{libreria.busca()}"/>

                        </h:form>
                    </div>
                    <br/>
                    <div id="libros">
                        <h:form>
                            <h:form>
                                <center>
                                    <h:panelGrid columns="2">

                                        <p:panel style="border: 0">
                                            <p:carousel value="#{libreria.libroList}" headerText="Todas las Categorias" var="car" itemStyleClass="carItem"
                                                        itemStyle="width: 200px" numVisible="4" effect="slide" easing="easeInOutCirc" effectDuration="500"
                                                        style="min-width: 800px;">

                                                <h:panelGrid columns="2" style="width:100%" cellpadding="5" columnClasses="label,value">
                                                    <f:facet name="header">
                                                        <p:graphicImage library="img/portadas" name="#{car.isbn}.jpg" width="100px"/>
                                                    </f:facet>

                                                    <h:outputText value="Nombre:" />
                                                    <h:outputText value="#{car.titulo}" />
                                                    <p:commandButton action="#{libreria.irCarrito(car)}" value="Comprar"/>
                                                </h:panelGrid>

                                                <f:facet name="footer">
                                                    En total #{fn:length(libreria.libroList)} libro(s).
                                                </f:facet>
                                            </p:carousel>
                                        </p:panel>
                                    </h:panelGrid>

                                </center>                      
                            </h:form>

                        </h:form>
                    </div>
                </div>
            </ui:define>
            <ui:define name="sur">
                <ui:include src="secciones/login/abajo.xhtml"/>
            </ui:define>

        </ui:composition>


    </h:body>
</html>