<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:c="http://xmlns.jcp.org/jsp/jstl/core"
      xmlns:fn="http://java.sun.com/jsp/jstl/functions">
    <h:head>
        <title>Index - Ignorado</title>
        <h:outputStylesheet library="css" name="Style.css"/>
    </h:head>
    <h:body>
        <ui:composition template="templates/master.xhtml">
            <ui:define name="titulo">
                #{msj.Titulo}
            </ui:define>
            <ui:define name="encabezado">
                <ui:include src="secciones/login/header.xhtml"/>
            </ui:define>
            <ui:define name="contenido2">
                <div id="contenidoLogin">
                    <h:form>
                        <center>
                            <p>&nbsp;</p>
                            <h2>Comprobante de Pago</h2>
                            <h:panelGrid columns="2" id="datos" >
                                <h:outputText style="font-size: large" value="Orden No.: "/>
                                <h:outputText style="font-size: large" value="#{libreria.pedido.numeroPedido}"/>
                                <h:outputText style="font-size: large" value="Libro(s): "/>
                                <p:dataGrid value="#{carrito.carro}" var="ped">
                                    <h:outputText style="font-size: large" value="#{ped.libro.isbn}"/>
                                </p:dataGrid>
                                <h:outputText style="font-size: large" value="Cliente: "/>
                                <h:outputText style="font-size: large" value="#{libreria.cliente.nombres}  #{libreria.cliente.apellidos}"/>
                                <h:outputText style="font-size: large" value="Telefono: "/>
                                <h:outputText style="font-size: large" value="#{libreria.cliente.telefono}"/>
                                <h:outputText style="font-size: large" value="Mail: "/>
                                <h:outputText style="font-size: large" value="#{libreria.cliente.email}"/>
                                <h:outputText style="font-size: large" value="Fecha: "/>
                                <h:outputText style="font-size: large" value="#{libreria.hoy}"/>
                            </h:panelGrid>

                            <p style="font-size: small">
                                <p:commandButton value="Imprimir" type="button" style="display:block;margin-bottom: 20px">
                                    <p:printer target="datos"/>
                                </p:commandButton>
                            </p>
                            <p>&nbsp;</p>
                        </center>
                    </h:form>
                </div>
            </ui:define>
            <ui:define name="sur">
                <ui:include src="secciones/login/abajo.xhtml"/>
            </ui:define>

        </ui:composition>


    </h:body>
</html>