<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
    <h:head>
        <title>#{msj.Titulo}</title>
        <h:outputStylesheet library="css" name="Style.css"/>
    </h:head>
    <h:body>
        <ui:composition template="templates/master.xhtml">
            <ui:define name="titulo">
                #{msj.Titulo}
            </ui:define>
            <ui:define name="encabezado">
                <ui:include src="secciones/login/header.xhtml"/>
            </ui:define>
            <ui:define name="lado">

            </ui:define>
            <ui:define name="contenido2">
                <div id="contenidoLogin">
                    <h:form>
                    <h:panelGrid columns="3">
                        <h:outputLabel for="txtCantidad" value="Cantidad a pagar:"/>
                        <h:inputText id="txtCantidad" label="Cantidad" required="true" value="#{libreria.pedido.total}" validatorMessage="no">
                            <f:convertNumber minFractionDigits="2"/>
                            <f:validateDoubleRange minimum="1" maximum="10000"/>
                        </h:inputText>
                        <h:message for="txtCantidad" />

                        <h:outputLabel for="txtTarjeta" value="No. Tarjeta de  Credito:"/>
                        <h:inputText id="txtTarjeta" label="Tarjeta" required="true" value="#{libreria.tarjeta}" >
                            <f:validateLength minimum="16" maximum="16"/>
                            <f:validator validatorId="tarjValidator"/>
                        </h:inputText>
                        <h:message for="txtTarjeta"/>
                        <h:outputLabel for="txtFechaV" value="Fecha Vencimiento:"/>
                        <h:inputText id="txtFechaV" label="FechaV" required="true" value="#{libreria.fechaV}">
                            <f:convertDateTime pattern="MM/yyyy"/>
                        </h:inputText>
                        <h:message for="txtFechaV"/>
                    </h:panelGrid>


                    <h:commandButton value="procesar" action="#{libreria.comprobante()}"></h:commandButton>
                    <h:commandButton value="cancelar" ></h:commandButton>
                    </h:form>
                </div>
            </ui:define>


            <ui:define name="sur">
                <ui:include src="secciones/login/abajo.xhtml"/>
            </ui:define>
        </ui:composition>
    </h:body>
</html>