<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui">
    <h:head>
        <title>Facelet Title</title>
    </h:head>
    <h:body>
        <h:form >
            <p:panel header="Categorias" footer="#{libreria.hoy}" style="color: darkorange">
                <p:messages  severity="error" styleClass="msjError"/>
                <h:panelGrid columns="2">                                               
                    Nombre:&nbsp;
                    <p:inputText id="titulo" label="titulo" required="true" value="#{libreria.categoria.nombre}">
                        <p:tooltip for="titulo"/>
                    </p:inputText>
                </h:panelGrid>
                <p:commandButton id="btn" value="Entrar" action="#{libreria.editCategoria()}" ajax="false" />
                <p:commandButton value="Cancelar" onclick="PF('altacategoria').hide()"/>
            </p:panel>
        </h:form>
    </h:body>
</html>