<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
    <h:head>
        <title>Index - Ignorado</title>
        <h:outputStylesheet library="css" name="Style.css"/>
    </h:head>
    <h:body>
        <ui:composition template="templates/master.xhtml">
            <ui:define name="titulo">
                #{msj.Titulo}
            </ui:define>
            <ui:define name="encabezado">
                <ui:include src="secciones/login/header.xhtml"/>
            </ui:define>
            <ui:define name="lado">
                
            </ui:define>
            <ui:define name="contenido2">
                <h1>#{msj.login}</h1>
                <h:form>
                    <h:panelGrid columns="3">
                        <h:outputLabel value="Usuario: "/>
                        <h:inputText id="usuario" required="true" value="#{libreria.login}"/>
                        <h:message for="usuario" styleClass="msj"/>
                        <h:outputLabel value="Contraseña: "/>
                        <h:inputText id="password" required="true" value="#{libreria.password}"/>
                        <h:message for="password" styleClass="msj"/>
                        <br/>
                        <h:panelGroup>
                            <h:commandButton value="Entrar" action="#{libreria.logueaCliente()}"/>
                        </h:panelGroup>
                    </h:panelGrid>
                    <p:commandButton value="Registrate"  action="registro"/>
                </h:form>
                
            </ui:define>
            
            <ui:define name="sur">
                <ui:include src="secciones/login/abajo.xhtml"/>
            </ui:define>
            
        </ui:composition>
        
        
    </h:body>
</html>