<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html">
    <h:head>
        <title>Facelet Title</title>
    </h:head>
    <h:body>
        <h:form>
                    <h:panelGrid columns="3">
                        <h:outputLabel value="Usuario: "/>
                        <h:inputText id="usuario" required="true" value="#{libreria.login}"/>
                        <h:message for="usuario" styleClass="msj"/>
                        <h:outputLabel value="Contraseña: "/>
                        <h:inputText id="password" required="true" value="#{libreria.pwd}"/>
                        <h:message for="password" styleClass="msj"/>
                        <br/>
                        <h:panelGroup>
                            <h:commandButton value="Entrar" action="#{libreria.loguea()}"/>
                        </h:panelGroup>
                    </h:panelGrid>
                </h:form>
    </h:body>
</html>

