<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:c="http://xmlns.jcp.org/jsp/jstl/core"
      xmlns:fn="http://java.sun.com/jsp/jstl/functions">
    <h:head>
        <title>Index - Ignorado</title>
        <h:outputStylesheet library="css" name="Style.css"/>
    </h:head>
    <h:body>
        <ui:composition template="templates/master.xhtml">
            <ui:define name="titulo">
                #{msj.Titulo}
            </ui:define>
            <ui:define name="encabezado">
                <ui:include src="secciones/login/header.xhtml"/>
            </ui:define>
            <ui:define name="contenido2">
                <div id="contenidoLogin">
                    <h:form>
                        <center>
                            <p>&nbsp;</p>
                            <h2>Login</h2>
                            <h:panelGrid columns="3" border="0">
                                <h:panelGroup>
                                    <b>#{msj.login}</b>
                                </h:panelGroup>

                                <h:panelGroup>
                                    <h:inputText id="login" 
                                                 value="#{libreria.login}" 
                                                 required="true" 
                                                 >
                                        <f:validator validatorId="validarL"/>
                                    </h:inputText>             
                                </h:panelGroup>
                                <h:panelGroup>
                                    <h:message for="login" style="color:red" />
                                </h:panelGroup>
                                <h:panelGroup>
                                    <b>#{msj.pas}</b>
                                </h:panelGroup>

                                <h:panelGroup>
                                    <h:inputText id="password" 
                                                 value="#{libreria.password}" 
                                                 required="true" 
                                                 >
                                        <f:validator validatorId="validarP"/>
                                    </h:inputText>             
                                </h:panelGroup>

                                <h:panelGroup>
                                    <h:message for="password" style="color:red" />
                                </h:panelGroup>

                            </h:panelGrid>
                            <p style="font-size: small">
                                <p:commandButton value="Iniciar Sesion" action="#{libreria.logueaCliente()}"/>
                            </p>
                            <p style="font-size: small">
                                <p:commandButton value="Registrate" action="registro"/>
                            </p>
                            <p>&nbsp;</p>
                        </center>
                    </h:form>
                </div>
            </ui:define>
            <ui:define name="sur">
                <ui:include src="secciones/login/abajo.xhtml"/>
            </ui:define>

        </ui:composition>


    </h:body>
</html>