<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:c="http://xmlns.jcp.org/jsp/jstl/core"
      xmlns:fn="http://java.sun.com/jsp/jstl/functions">
    <h:head>
        <title>Index - Ignorado</title>
        <h:outputStylesheet library="css" name="Style.css"/>
    </h:head>
    <h:body>
        <ui:composition template="templates/master.xhtml">
            <ui:define name="titulo">
                #{msj.Titulo}
            </ui:define>
            <ui:define name="encabezado">
                <ui:include src="secciones/login/header.xhtml"/>
            </ui:define>
            <ui:define name="contenido2">

                <div id="contenidoLogin">

                    <h:form>
                        <center>
                            <p>&nbsp;</p>
                            <h2>Confirma tus datos</h2>
                            <h:panelGrid columns="2">
                                <h:outputText style="font-size: large" value="Nombre: "/>
                                <h:outputText style="font-size: large" value="#{libreria.cliente.nombres} #{libreria.cliente.apellidos}"/>
                                <h:outputText style="font-size: large" value="Telefono: "/>
                                <h:outputText style="font-size: large" value="#{libreria.cliente.telefono}"/>
                                <h:outputText style="font-size: large" value="Mail: "/>
                                <h:outputText style="font-size: large" value="#{libreria.cliente.email}"/>
                                <h:outputText style="font-size: large" value="SubTotal: "/>
                                <h:outputText style="font-size: large" value="#{carrito.subtotal}"/>
                                <h:outputText style="font-size: large" value="Total: "/>
                                <h:outputText style="font-size: large" value="#{carrito.total}"/>
                            </h:panelGrid>
                            <p>&nbsp;</p>
                        </center>
                    </h:form>
                </div>
                <center>
                    <h2>Libros Seleccionados</h2>
                </center>

                <p:dataTable value="#{carrito.carro}"   var="busca" paginator="true">
                    <p:column>
                        <f:facet name="header">
                            Isbn
                        </f:facet>
                        <h:inputText value="#{busca.libro.isbn}"/>
                    </p:column>
                    <p:column>
                        <f:facet name="header">
                            Titulo
                        </f:facet>
                        <h:inputText value="#{busca.libro.titulo}"/>
                    </p:column>
                    <p:column>
                        <f:facet name="header">
                            Precio
                        </f:facet>
                        <p:inputText value="#{busca.libro.precio}"/>
                    </p:column>
                    <p:column>
                        <f:facet name="header">
                            Descripcion
                        </f:facet>
                        <p:inputText value="#{busca.libro.descripcion}"/>
                    </p:column>
                    <p:column>
                        <f:facet name="header">
                            Cantidad
                        </f:facet>
                        <p:inputText value="#{busca.cantidad}"/>
                    </p:column>
                </p:dataTable>
                <center>
                    <p>&nbsp;</p>
                    <p style="font-size: small">
                        <p:commandButton value="Modificar Datos" action="modifica"/>
                        &nbsp;
                        <p:commandButton value="Regresar al Carrito" action="carro"/>
                    </p>
                    <p style="font-size: small">
                        <p:commandButton value="Pagar" action="#{libreria.vender(carrito)}"/>
                    </p>
                    <p>&nbsp;</p>
                </center>
            </ui:define>
            <ui:define name="sur">
                <ui:include src="secciones/login/abajo.xhtml"/>
            </ui:define>
        </ui:composition>
    </h:body>
</html>