<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets">
    <h:head>
        <title>#{msj.Titulo}</title>
        <h:outputStylesheet library="css" name="Style.css"/>
    </h:head>
    <h:body>
        <ui:composition template="templates/master.xhtml">
            <ui:define name="titulo">
                #{msj.Titulo}
            </ui:define>
            <ui:define name="encabezado">
                <ui:include src="secciones/login/header.xhtml"/>
            </ui:define>
            <ui:define name="lado">
                
            </ui:define>
            <ui:define name="contenido2">
                <div id="contenidoLogin">
                <h:form>
                    <div align="center">
                    <h1>#{msj.registro}</h1>
                <h:panelGrid columns="3" border="0">
    
                    <h:panelGroup>
                        <b> Nombre </b>
                    </h:panelGroup>
                
                    <h:panelGroup>
                        <h:inputText  id="nombre" 
                                      value="#{libreria.nombres}"
                                      required="true"
                                      requiredMessage="#{msj.Enombre}"/>
                    </h:panelGroup>
                    
                    <h:panelGroup>
                        <h:message for="nombre"  styleClass="msjError"/>
                    </h:panelGroup>
                    
                    
                    
                    <h:panelGroup>
                        <b> Apellidos</b>
                    </h:panelGroup>
                
                    <h:panelGroup>
                        <h:inputText  id="apellido"
                                      value="#{libreria.apellidos}"
                                      required="true"
                                      requiredMessage="#{msj.apellido}"/>
                    </h:panelGroup>
                      
                    <h:panelGroup>
                        <h:message for="apellido"  styleClass="msjError"/>
                    </h:panelGroup>
                      Email
                    <h:panelGroup>
                        <h:inputText  id="correo" 
                                      value="#{libreria.email}"
                                      required="true"  
                                      validatorMessage="#{msj.Ecorreo}"/>
                    </h:panelGroup>
                    
                    <h:panelGroup>
                        <h:message for="correo" />
                    </h:panelGroup>
                    
                    
                    <h:panelGroup>
                        Telefono
                    </h:panelGroup>
                
                    <h:panelGroup>
                        <h:inputText  id="telefono"
                                      value="#{libreria.telefono}" 
                                      required="true" 
                                      validatorMessage="#{msj.Etelefono}" />
                    </h:panelGroup>
                    
                    <h:panelGroup>
                        <h:message for="telefono"/>
                    </h:panelGroup>
                    
                   
                
                     <h:panelGroup>
                         <b> #{msj.login} </b>
                    </h:panelGroup>
                
                    <h:panelGroup>
                        <h:inputText id="login" 
                                     value="#{libreria.login}" 
                                     required="true" 
                                     requiredMessage="#{msj.Elogin}" styleClass="msjError"/>
                    </h:panelGroup>
                    
                    <h:panelGroup>
                        <h:message for="login"/>
                    </h:panelGroup>
                    
                    
                    
                    
                    <h:panelGroup>
                        <b> #{msj.pas} </b>
                    </h:panelGroup>
                
                    <h:panelGroup>
                       <h:inputText id="password" 
                                    value="#{libreria.password}" 
                                      required="true" 
                                      requiredMessage="#{msj.Epassword}"/>
                       
                    </h:panelGroup>
                    
                    <h:panelGroup>
                        <h:message for="password"  styleClass="msjError" />
                    </h:panelGroup>
                    
                    
                    
                    <br/>
                    <h:panelGroup>
                        <h:commandButton styleClass="but" value="#{msj.boton}" action="#{libreria.addCliente()}" />
                    </h:panelGroup>

                </h:panelGrid>
                    </div>
            </h:form>
                    </div>
            </ui:define>
            

             <ui:define name="sur">
                <ui:include src="secciones/login/abajo.xhtml"/>
            </ui:define>
        </ui:composition>
    </h:body>
</html>